<%= form_for(@qualification) do |f| %>
  <% if @qualification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qualification.errors.count, "error") %> prohibited this qualification from being saved:</h2>

      <ul>
      <% @qualification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Виберіть вмілість" %><br>
    <% options = options_from_collection_for_select(@vmilist, 'id', 'name') %>
    <!-- f.select :project_id, @project_select, :selected => params[:pid]-->
    <%= f.select :vmilist_id, options %>
  </div>

  <div class="field">
    <%= f.label :instruktor_id %><br>
    <%= f.text_field :instruktor_id %>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_field :reason %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
