<h1>Listing instruktors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instruktors.each do |instruktor| %>
      <tr>
        <td><%= instruktor.name %></td>
        <td><%= link_to 'Show', instruktor %></td>
        <td><%= link_to 'Edit', edit_instruktor_path(instruktor) %></td>
        <td><%= link_to 'Destroy', instruktor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instruktor', new_instruktor_path %>
